# git alias to manage dotfiles
alias dot='git --git-dir=$HOME/.dot/ --work-tree=$HOME'

# Symfony console app
alias console='bin/console'

# Use exa as listing tool instead of ls
alias ls='lsd'

alias cat='bat'
alias now='date -Iseconds'
