[user]
	name = zackad
	email = zackad.dev@gmail.com
[core]
	autocrlf = input
[push]
	default = matching
[color]
	ui = true
[format]
	pretty = format:%C(yellow)%ad %Cblue%h %Cgreen%<(7)%aN:%Cred%d %Creset%s
[log]
	date = format:%Y-%m-%d %H:%M:%S
[alias]
	l = log --date=short
	lr = log --date=relative
