[user]
	name = zackad
	email = zackad.dev@gmail.com
	signingkey = D9944489
[alias]
	q = log --all --decorate --oneline --graph
	l = log --date=short
	cm = checkout master
[format]
	pretty = format:%C(yellow)%ad %Cblue%h %Cgreen%<(7)%aN:%Cred%d %Creset%s
[log]
	date = format:%Y-%m-%d %H:%M:%S
[core]
	pager = less -FRX
